<footer class="py-4 bg-dark">
    <div class="container">
          <p class="m-0 text-center text-white">Copyright &copy; <%= (new Date()).getFullYear() %> dsfcount | <a href="/privacy">Privacy Policy</a> | <a href="/terms">Terms & Conditions</a> | <a href="/cookies">Cookies Policy</a></p>
    </div>
</footer>