<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
    <a class="navbar-brand" href="/">Logo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <% if (user) { %>
            <li class="nav-item">
                <a class="nav-link" href="/account">Your Account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        <% } else { %>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Login</a>
                <ul class="dropdown-menu dropdown-menu-right mt-2">
                <li class="px-3 py-2">
                        <form class="form" id="login-form" role="form" method="POST">
                            <div class="form-group">
                                <input id="login_email" placeholder="Email" class="form-control" type="email" required>
                            </div>
                            <div class="form-group">
                                <input id="login_password" placeholder="Password" class="form-control" type="password" required>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success">Login</button> <a href="javascript:void(0);" class="text-danger float-right" onclick="$('#reset-password-form').toggle('fast');">Forgot Password?</a>
                            </div>
                        </form>

                        <form class="form" id="reset-password-form" role="form" style="display: none;">
                            <h6>Reset password</h6>
                            <div class="form-group">
                                <input id="reset_email" placeholder="Email" class="form-control" type="email" required>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success btn-block">Reset</button>
                            </div>
                        </form>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signup">Sign up</a>
            </li>
        <% } %>
      </ul>
    </div>
  </div>
  </nav>