<!DOCTYPE html>
<html lang="en">
<head>
 <%- include partials/head %> 
</head>
<body>
<%- include partials/menu %>
<div class="container height-fill">
  <h1 class="mt-4 mb-3"><%= page %></h1>
  <% if (user) { %>
    <p>Your account number is <%= user_data.user_number.toString().padStart(8, "0") %></p>
  <% } %>
  <hr>
  <div class="row">
      <div class="col-lg-8 mb-4">
        <% if (user) { %>
        <div class="clearfix">
          <h3 class="float-left">Your Information</h3>
          <button type="button" class="btn btn-success float-right" id="edit-btn">Edit Information</button>
        </div>
          <form method="POST" id="account-form">
              <% if (messages != '') { %>
              <div class="alert alert-success" role="alert">
                <%= messages %>
              </div>
              <% } %>
              <div class="form-group required">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Enter Name" value="<%= user_data.name %>" required disabled>
              </div>
              <div class="form-group required">
                <label for="gender">Gender</label>
                <select class="form-control" id="gender" required disabled>
                  <option value="">Select Gender</option>
                  <option value="m">Male</option>
                  <option value="f">Female</option>
                  <option value="tm">Transgender male</option>
                  <option value="tf">Transgender female</option>
                  <option value="ot">Other</option>
                  <option value="na">Prefer not to say</option>
                </select>
              </div>
              <div class="form-row">
                <div class="form-group col-md-4 required">
                  <label for="dob_years">Date of Birth</label>
                  <select id="dob_years" class="form-control selectpicker" data-live-search="true" required disabled></select>
                </div>
                <div class="form-group col-md-4">
                  <label for="dob_months">&nbsp;</label>
                  <select id="dob_months" class="form-control" required disabled></select>
                </div>
                <div class="form-group col-md-4">
                  <label for="dob_days">&nbsp;</label>
                  <select id="dob_days" class="form-control" required disabled></select>
                </div>
              </div>
              <div class="form-group required">
                <label for="country">Country</label>
                <select class="form-control selectpicker" id="country" data-live-search="true" required disabled>
                  <option value="">Select Country</option>
                  <option value="GB">United Kingdom</option>
                  <option value="US">United States of America</option>
                  <option value="CA">Canada</option>
                  <option value="AU">Australia</option>
                  <option value="AF">Afghanistan</option>
                  <option value="AX">Åland Islands</option>
                  <option value="AL">Albania</option>
                  <option value="DZ">Algeria</option>
                  <option value="AS">American Samoa</option>
                  <option value="AD">Andorra</option>
                  <option value="AO">Angola</option>
                  <option value="AI">Anguilla</option>
                  <option value="AG">Antigua and Barbuda</option>
                  <option value="AR">Argentina</option>
                  <option value="AM">Armenia</option>
                  <option value="AW">Aruba</option>
                  <option value="AT">Austria</option>
                  <option value="AZ">Azerbaijan</option>
                  <option value="BS">Bahamas</option>
                  <option value="BH">Bahrain</option>
                  <option value="BD">Bangladesh</option>
                  <option value="BB">Barbados</option>
                  <option value="BY">Belarus</option>
                  <option value="BE">Belgium</option>
                  <option value="BZ">Belize</option>
                  <option value="BJ">Benin</option>
                  <option value="BM">Bermuda</option>
                  <option value="BT">Bhutan</option>
                  <option value="BO">Bolivia</option>
                  <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
                  <option value="BA">Bosnia and Herzegovina</option>
                  <option value="BW">Botswana</option>
                  <option value="BV">Bouvet Island</option>
                  <option value="BR">Brazil</option>
                  <option value="IO">British Indian Ocean Territory</option>
                  <option value="BN">Brunei Darussalam</option>
                  <option value="BG">Bulgaria</option>
                  <option value="BF">Burkina Faso</option>
                  <option value="BI">Burundi</option>
                  <option value="CV">Cabo Verde</option>
                  <option value="KH">Cambodia</option>
                  <option value="CM">Cameroon</option>
                  <option value="KY">Cayman Islands</option>
                  <option value="CF">Central African Republic</option>
                  <option value="TD">Chad</option>
                  <option value="CL">Chile</option>
                  <option value="CN">China</option>
                  <option value="CX">Christmas Island</option>
                  <option value="CC">Cocos (Keeling) Islands</option>
                  <option value="CO">Colombia</option>
                  <option value="KM">Comoros</option>
                  <option value="CG">Congo</option>
                  <option value="CD">Congo, Democratic Republic of the</option>
                  <option value="CK">Cook Islands</option>
                  <option value="CR">Costa Rica</option>
                  <option value="CI">Côte d'Ivoire</option>
                  <option value="HR">Croatia</option>
                  <option value="CU">Cuba</option>
                  <option value="CW">Curaçao</option>
                  <option value="CY">Cyprus</option>
                  <option value="CZ">Czechia</option>
                  <option value="DK">Denmark</option>
                  <option value="DJ">Djibouti</option>
                  <option value="DM">Dominica</option>
                  <option value="DO">Dominican Republic</option>
                  <option value="EC">Ecuador</option>
                  <option value="EG">Egypt</option>
                  <option value="SV">El Salvador</option>
                  <option value="GQ">Equatorial Guinea</option>
                  <option value="ER">Eritrea</option>
                  <option value="EE">Estonia</option>
                  <option value="SZ">Eswatini</option>
                  <option value="ET">Ethiopia</option>
                  <option value="FK">Falkland Islands (Malvinas)</option>
                  <option value="FO">Faroe Islands</option>
                  <option value="FJ">Fiji</option>
                  <option value="FI">Finland</option>
                  <option value="FR">France</option>
                  <option value="GF">French Guiana</option>
                  <option value="PF">French Polynesia</option>
                  <option value="TF">French Southern Territories</option>
                  <option value="GA">Gabon</option>
                  <option value="GM">Gambia</option>
                  <option value="GE">Georgia</option>
                  <option value="DE">Germany</option>
                  <option value="GH">Ghana</option>
                  <option value="GI">Gibraltar</option>
                  <option value="GR">Greece</option>
                  <option value="GL">Greenland</option>
                  <option value="GD">Grenada</option>
                  <option value="GP">Guadeloupe</option>
                  <option value="GU">Guam</option>
                  <option value="GT">Guatemala</option>
                  <option value="GG">Guernsey</option>
                  <option value="GN">Guinea</option>
                  <option value="GW">Guinea-Bissau</option>
                  <option value="GY">Guyana</option>
                  <option value="HT">Haiti</option>
                  <option value="HM">Heard Island and McDonald Islands</option>
                  <option value="VA">Holy See</option>
                  <option value="HN">Honduras</option>
                  <option value="HK">Hong Kong</option>
                  <option value="HU">Hungary</option>
                  <option value="IS">Iceland</option>
                  <option value="IN">India</option>
                  <option value="ID">Indonesia</option>
                  <option value="IR">Iran (Islamic Republic of)</option>
                  <option value="IQ">Iraq</option>
                  <option value="IE">Ireland</option>
                  <option value="IM">Isle of Man</option>
                  <option value="IL">Israel</option>
                  <option value="IT">Italy</option>
                  <option value="JM">Jamaica</option>
                  <option value="JP">Japan</option>
                  <option value="JE">Jersey</option>
                  <option value="JO">Jordan</option>
                  <option value="KZ">Kazakhstan</option>
                  <option value="KE">Kenya</option>
                  <option value="KI">Kiribati</option>
                  <option value="KP">Korea (Democratic People's Republic of)</option>
                  <option value="KR">Korea, Republic of</option>
                  <option value="KW">Kuwait</option>
                  <option value="KG">Kyrgyzstan</option>
                  <option value="LA">Lao People's Democratic Republic</option>
                  <option value="LV">Latvia</option>
                  <option value="LB">Lebanon</option>
                  <option value="LS">Lesotho</option>
                  <option value="LR">Liberia</option>
                  <option value="LY">Libya</option>
                  <option value="LI">Liechtenstein</option>
                  <option value="LT">Lithuania</option>
                  <option value="LU">Luxembourg</option>
                  <option value="MO">Macao</option>
                  <option value="MK">Macedonia, the former Yugoslav Republic of</option>
                  <option value="MG">Madagascar</option>
                  <option value="MW">Malawi</option>
                  <option value="MY">Malaysia</option>
                  <option value="MV">Maldives</option>
                  <option value="ML">Mali</option>
                  <option value="MT">Malta</option>
                  <option value="MH">Marshall Islands</option>
                  <option value="MQ">Martinique</option>
                  <option value="MR">Mauritania</option>
                  <option value="MU">Mauritius</option>
                  <option value="YT">Mayotte</option>
                  <option value="MX">Mexico</option>
                  <option value="FM">Micronesia (Federated States of)</option>
                  <option value="MD">Moldova, Republic of</option>
                  <option value="MC">Monaco</option>
                  <option value="MN">Mongolia</option>
                  <option value="ME">Montenegro</option>
                  <option value="MS">Montserrat</option>
                  <option value="MA">Morocco</option>
                  <option value="MZ">Mozambique</option>
                  <option value="MM">Myanmar</option>
                  <option value="NA">Namibia</option>
                  <option value="NR">Nauru</option>
                  <option value="NP">Nepal</option>
                  <option value="NL">Netherlands</option>
                  <option value="NC">New Caledonia</option>
                  <option value="NZ">New Zealand</option>
                  <option value="NI">Nicaragua</option>
                  <option value="NE">Niger</option>
                  <option value="NG">Nigeria</option>
                  <option value="NU">Niue</option>
                  <option value="NF">Norfolk Island</option>
                  <option value="MP">Northern Mariana Islands</option>
                  <option value="NO">Norway</option>
                  <option value="OM">Oman</option>
                  <option value="PK">Pakistan</option>
                  <option value="PW">Palau</option>
                  <option value="PS">Palestine, State of</option>
                  <option value="PA">Panama</option>
                  <option value="PG">Papua New Guinea</option>
                  <option value="PY">Paraguay</option>
                  <option value="PE">Peru</option>
                  <option value="PH">Philippines</option>
                  <option value="PN">Pitcairn</option>
                  <option value="PL">Poland</option>
                  <option value="PT">Portugal</option>
                  <option value="PR">Puerto Rico</option>
                  <option value="QA">Qatar</option>
                  <option value="RE">Réunion</option>
                  <option value="RO">Romania</option>
                  <option value="RU">Russian Federation</option>
                  <option value="RW">Rwanda</option>
                  <option value="BL">Saint Barthélemy</option>
                  <option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
                  <option value="KN">Saint Kitts and Nevis</option>
                  <option value="LC">Saint Lucia</option>
                  <option value="MF">Saint Martin (French part)</option>
                  <option value="PM">Saint Pierre and Miquelon</option>
                  <option value="VC">Saint Vincent and the Grenadines</option>
                  <option value="WS">Samoa</option>
                  <option value="SM">San Marino</option>
                  <option value="ST">Sao Tome and Principe</option>
                  <option value="SA">Saudi Arabia</option>
                  <option value="SN">Senegal</option>
                  <option value="RS">Serbia</option>
                  <option value="SC">Seychelles</option>
                  <option value="SL">Sierra Leone</option>
                  <option value="SG">Singapore</option>
                  <option value="SX">Sint Maarten (Dutch part)</option>
                  <option value="SK">Slovakia</option>
                  <option value="SI">Slovenia</option>
                  <option value="SB">Solomon Islands</option>
                  <option value="SO">Somalia</option>
                  <option value="ZA">South Africa</option>
                  <option value="GS">South Georgia and the South Sandwich Islands</option>
                  <option value="SS">South Sudan</option>
                  <option value="ES">Spain</option>
                  <option value="LK">Sri Lanka</option>
                  <option value="SD">Sudan</option>
                  <option value="SR">Suriname</option>
                  <option value="SJ">Svalbard and Jan Mayen</option>
                  <option value="SE">Sweden</option>
                  <option value="CH">Switzerland</option>
                  <option value="SY">Syrian Arab Republic</option>
                  <option value="TW">Taiwan, Province of China[a]</option>
                  <option value="TJ">Tajikistan</option>
                  <option value="TZ">Tanzania, United Republic of</option>
                  <option value="TH">Thailand</option>
                  <option value="TL">Timor-Leste</option>
                  <option value="TG">Togo</option>
                  <option value="TK">Tokelau</option>
                  <option value="TO">Tonga</option>
                  <option value="TT">Trinidad and Tobago</option>
                  <option value="TN">Tunisia</option>
                  <option value="TR">Turkey</option>
                  <option value="TM">Turkmenistan</option>
                  <option value="TC">Turks and Caicos Islands</option>
                  <option value="TV">Tuvalu</option>
                  <option value="UG">Uganda</option>
                  <option value="UA">Ukraine</option>
                  <option value="AE">United Arab Emirates</option>
                  <option value="UM">United States Minor Outlying Islands</option>
                  <option value="UY">Uruguay</option>
                  <option value="UZ">Uzbekistan</option>
                  <option value="VU">Vanuatu</option>
                  <option value="VE">Venezuela (Bolivarian Republic of)</option>
                  <option value="VN">Viet Nam</option>
                  <option value="VG">Virgin Islands (British)</option>
                  <option value="VI">Virgin Islands (U.S.)</option>
                  <option value="WF">Wallis and Futuna</option>
                  <option value="EH">Western Sahara</option>
                  <option value="YE">Yemen</option>
                  <option value="ZM">Zambia</option>
                  <option value="ZW">Zimbabwe</option>
                </select>
              </div>
              <div class="form-group" id="state-area" style="display: none;">
                <label for="state">State</label>
                <select class="form-control selectpicker" id="state" data-live-search="true" disabled>
                    <option value="">Select State</option>
                    <option value="AL">Alabama</option>
                    <option value="AK">Alaska</option>
                    <option value="AZ">Arizona</option>
                    <option value="AR">Arkansas</option>
                    <option value="CA">California</option>
                    <option value="CO">Colorado</option>
                    <option value="CT">Connecticut</option>
                    <option value="DE">Delaware</option>
                    <option value="FL">Florida</option>
                    <option value="GA">Georgia</option>
                    <option value="HI">Hawaii</option>
                    <option value="ID">Idaho</option>
                    <option value="IL">Illinois</option>
                    <option value="IN">Indiana</option>
                    <option value="IA">Iowa</option>
                    <option value="KS">Kansas</option>
                    <option value="KY">Kentucky</option>
                    <option value="LA">Louisiana</option>
                    <option value="ME">Maine</option>
                    <option value="MD">Maryland</option>
                    <option value="MA">Massachusetts</option>
                    <option value="MI">Michigan</option>
                    <option value="MN">Minnesota</option>
                    <option value="MS">Mississippi</option>
                    <option value="MO">Missouri</option>
                    <option value="MT">Montana</option>
                    <option value="NE">Nebraska</option>
                    <option value="NV">Nevada</option>
                    <option value="NH">New Hampshire</option>
                    <option value="NJ">New Jersey</option>
                    <option value="NM">New Mexico</option>
                    <option value="NY">New York</option>
                    <option value="NC">North Carolina</option>
                    <option value="ND">North Dakota</option>
                    <option value="OH">Ohio</option>
                    <option value="OK">Oklahoma</option>
                    <option value="OR">Oregon</option>
                    <option value="PA">Pennsylvania</option>
                    <option value="RI">Rhode Island</option>
                    <option value="SC">South Carolina</option>
                    <option value="SD">South Dakota</option>
                    <option value="TN">Tennessee</option>
                    <option value="TX">Texas</option>
                    <option value="UT">Utah</option>
                    <option value="VT">Vermont</option>
                    <option value="VA">Virginia</option>
                    <option value="WA">Washington</option>
                    <option value="WV">West Virginia</option>
                    <option value="WI">Wisconsin</option>
                    <option value="WY">Wyoming</option>
                </select>
              </div>
              <div class="form-group">
                <label for="city">City</label>
                <input type="text" class="form-control" id="city" placeholder="Enter City" value="<%= user_data.city %>" disabled>
              </div>
              <div class="form-group required">
                <label for="reason1">Why did you start?</label>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="reason" id="reason1" value="reason1" required disabled>
                  <label class="form-check-label" for="reason1">
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="reason" id="reason" value="reason2" disabled>
                  <label class="form-check-label" for="reason">
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                  </label>
                </div>
              </div>
              <div class="form-group required">
                <label for="counted_bcz1" id="counted_bcz">You have been counted because of</label>
                <div class="form-check">
                  <input class="form-check-input counted_bcz" type="checkbox" id="counted_bcz1" value="a" disabled>
                  <label class="form-check-label" for="counted_bcz1">
                    value1
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input counted_bcz" type="checkbox" id="counted_bcz2" value="e" disabled>
                  <label class="form-check-label" for="counted_bcz2">
                    value2
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input counted_bcz" type="checkbox" id="counted_bcz3" value="h" disabled>
                  <label class="form-check-label" for="counted_bcz3">
                    value3
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input counted_bcz" type="checkbox" id="counted_bcz4" value="o" disabled>
                  <label class="form-check-label" for="counted_bcz4">
                    Other
                  </label>
                </div>
              </div>
              <div class="form-group required" id="o-c-b-area" style="display: none;">
                <label for="o_counted_bcz">Reason</label>
                <input type="text" class="form-control" id="o_counted_bcz" placeholder="Enter Reason" disabled>
              </div>
              <label for="start_year">When did you start?</label>
              <div class="form-row">
                <div class="form-group col-md-4">
                  <select id="start_year" class="form-control select2" required disabled></select>
                </div>
                <div class="form-group col-md-4">
                  <select id="start_month" class="form-control" disabled></select>
                </div>
                <div class="form-group col-md-4">
                    <select id="start_day" class="form-control" disabled></select>
                  </div>
              </div>
              <hr>
              <label for="current_password">Change Password</label>
              <div class="form-row">
                <div class="form-group col-md-4">
                  <input type="password" class="form-control" id="current_password" placeholder="Current Password" disabled>
                </div>
                <div class="form-group col-md-4">
                  <input type="password" class="form-control" id="new_password" placeholder="New Password" disabled>
                </div>
                <div class="form-group col-md-4">
                    <input type="password" class="form-control" id="c_new_password" placeholder="Confirm New Password" disabled>
                </div>
              </div>
              <div class="form-group">
                <label for="subscribed1">Subscriptions</label>
                <div class="form-check">
                  <input class="form-check-input subscribed" type="checkbox" id="subscribed1" value="st" disabled>
                  <label class="form-check-label" for="subscribed1">Stats</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input subscribed" type="checkbox" id="subscribed2" value="nw" disabled>
                  <label class="form-check-label" for="subscribed2">Newsletters</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input subscribed" type="checkbox" id="subscribed3" value="bl" disabled>
                  <label class="form-check-label" for="subscribed3">Blog</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input subscribed" type="checkbox" id="subscribed4" value="pm" disabled>
                  <label class="form-check-label" for="subscribed4">Promotions</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input subscribed" type="checkbox" id="subscribed6" value="pc" disabled>
                  <label class="form-check-label" for="subscribed6">Petitions/Campaigns</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="subscribed5" value="ac" checked disabled>
                  <label class="form-check-label" for="subscribed5">Account</label>
                </div>
              </div>
              <div class="form-group">
                <label id="hear_about_us">Where did you hear about us?</label>
                <div class="form-check">
                  <input class="form-check-input hear_about_us" type="checkbox" id="hear_about_us1" value="fb" disabled>
                  <label class="form-check-label" for="hear_about_us1">Facebook</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input hear_about_us" type="checkbox" id="hear_about_us2" value="in" disabled>
                  <label class="form-check-label" for="hear_about_us2">Instagram</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input hear_about_us" type="checkbox" id="hear_about_us3" value="tw" disabled>
                  <label class="form-check-label" for="hear_about_us3">Twitter</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input hear_about_us" type="checkbox" id="hear_about_us4" value="ev" disabled>
                  <label class="form-check-label" for="hear_about_us4">Event/festival</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input hear_about_us" type="checkbox" id="hear_about_us5" value="wm" disabled>
                  <label class="form-check-label" for="hear_about_us5">Word of mouth</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input hear_about_us" type="checkbox" id="hear_about_us6" value="bc" disabled>
                  <label class="form-check-label" for="hear_about_us6">Flyer / business card</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input hear_about_us" type="checkbox" id="hear_about_us7" value="se" disabled>
                  <label class="form-check-label" for="hear_about_us7">Search engine</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input hear_about_us" type="checkbox" id="hear_about_us8" value="ot" disabled>
                  <label class="form-check-label" for="hear_about_us8">Other</label>
                </div>
              </div>
              <button type="submit" class="btn btn-success" id="submit-btn" disabled>Submit</button>
              <button type="button" class="btn btn-danger" id="cancel-btn" disabled>Cancel</button>
              <button type="button" class="btn btn-danger float-right" id="delete-btn">Delete Account</button>
            </form>
            <% } else { %>
              <form class="form" id="login-a-form" role="form" method="POST">
                  <div class="form-group">
                      <input placeholder="Email" class="form-control login_email" type="email" required>
                  </div>
                  <div class="form-group">
                      <input placeholder="Password" class="form-control login_password" type="password" required>
                  </div>
                  <div class="form-group">
                      <button type="submit" class="btn btn-success">Login</button> <a href="javascript:void(0);" class="text-danger" onclick="$('#reset-password-a-form').toggle('fast');">Forgot Password?</a>
                  </div>
              </form>

              <form class="form" id="reset-password-a-form" role="form" style="display: none;">
                  <h6>Reset password</h6>
                  <div class="form-group">
                      <input placeholder="Email" class="reset_email form-control" type="email" required>
                  </div>
                  <div class="form-group">
                      <button type="submit" class="btn btn-success btn-block">Reset</button>
                  </div>
              </form>
            <% } %>
      </div>
  </div>
</div>
<% if (user) { %>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Are you sure?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="form" id="delete-account-form" role="form" method="POST">
        <div class="modal-body">
          <div class="form-group required">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="delete_reason" id="d_reason1" value="staying" required>
              <label class="form-check-label" for="d_reason1">
                staying but no longer want to be counted
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="delete_reason" id="d_reason2" value="not_staying">
              <label class="form-check-label" for="d_reason2">
                not staying
              </label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger" disabled>Delete</button>
        </div>
      </form>
    </div>
  </div>
</div>
<% } %>
<%- include partials/footer %>
<%- include partials/script %>
<% if (user) { %>
<script>
  var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September','October', 'November', 'December'];

    function updateNumberOfDays(){
        dob_days = $('#dob_days').val();
        $('#dob_days').html('');
        month = $('#dob_months').val();
        year = $('#dob_years').val();
        days = daysInMonth(month, year);
        $('#dob_days').append($('<option />').val('').html('Select Day'));
        for(i=1; i < days+1 ; i++){
                $('#dob_days').append($('<option />').val(i).html(i));
        }
        $('#dob_days').val(dob_days);
    }

  function updateNumberOfDays1(){
    start_day = $('#start_day').val();
    $('#start_day').html('');
    month = $('#start_month').val();
    year = $('#start_year').val();
    days = daysInMonth(month, year);
    if(year == new Date().getFullYear() && month == new Date().getMonth() + 1) days = new Date().getDate();
    $('#start_day').append($('<option />').val('').html('Select Day'));
    for(i=1; i < days+1 ; i++){
        $('#start_day').append($('<option />').val(i).html(i));
    }
    $('#start_day').val(start_day);
  }

function updateNumberOfMonth1(){
    start_month = $('#start_month').val();
    $('#start_month').html('');
    year = $('#start_year').val();
    $('#start_month').append($('<option />').val('').html('Select Month'));

    from_month = 13;
    if(year == new Date().getFullYear()) from_month = new Date().getMonth() + 2;
    for (i = 1; i < from_month; i++){
        $('#start_month').append($('<option />').val(i).html(months[i - 1]));
    }
    $('#start_month').val(start_month);
}

    function daysInMonth(month, year) {
      return new Date(year, month, 0).getDate();
    }

    $('#dob_years, #start_year').append($('<option />').val('').html('Select Year'));
    for (i = new Date().getFullYear() - 13; i > new Date().getFullYear() - 106; i--){
        $('#dob_years').append($('<option />').val(i).html(i));
    }

    for (i = new Date().getFullYear(); i > new Date().getFullYear() - 106; i--){
        $('#start_year').append($('<option />').val(i).html(i));
    }
    
    $('#dob_months, #start_month').append($('<option />').val('').html('Select Month'));
    for (i = 1; i < 13; i++){
        $('#dob_months, #start_month').append($('<option />').val(i).html(months[i - 1]));
    }

    updateNumberOfDays(); updateNumberOfDays1(); 

    $('#dob_years, #dob_months').change(function(){
      updateNumberOfDays(); 
    });

    $('#start_year, #start_month').change(function(){
      updateNumberOfDays1(); 
    });

    $('#start_year').change(function(){
        updateNumberOfMonth1(); 
    });

    $('#gender').val('<%= user_data.gender %>');
    $('#country').val('<%= user_data.country %>').trigger('change');
    $('input[name=reason][value="<%= user_data.reason %>"]').prop("checked",true);
    var subscribed = '<%= user_data.subscribed %>';
    $.each(subscribed.split(','), function(i, v) {
      $('.subscribed[value="'+ v +'"]').prop("checked",true);
    });

    var dob = new Date('<%= user_data.dob %>');
    var dd = dob.getDate();
    var mm = dob.getMonth() + 1;
    var yyyy = dob.getFullYear();

    $('#dob_days').val(dd);
    $('#dob_months').val(mm);
    $('#dob_years').val(yyyy).trigger('change');

    $('#start_year').val('<%= user_data.start_year %>').trigger('change');
    $('#start_month').val('<%= user_data.start_month %>');
    $('#start_day').val('<%= user_data.start_day %>');

    var counted_bcz = '<%= user_data.counted_bcz %>'.split(',');
    $.each(counted_bcz, function(i, v) {
      $('.counted_bcz[value="'+ v +'"]').prop("checked",true);
    });

    if(counted_bcz.includes("o"))  $('#o-c-b-area').show();

    $('#o_counted_bcz').val('<%= user_data.o_counted_bcz %>');

    $('.counted_bcz').on('change', function() {
      flag = false;
      $('.counted_bcz:checked').each(function() {
        if($(this).val() == 'o') flag = true;
      });
      $('#o-c-b-area').hide();
      if(flag) { 
        //$('.counted_bcz').prop("checked", false);
        $('#o-c-b-area').show();
        $('.counted_bcz[value="o"]').prop("checked", true);
      }
    });

    var hear_about_us = '<%= user_data.hear_about_us %>'.split(',');
    $.each(hear_about_us, function(i, v) {
      $('.hear_about_us[value="'+ v +'"]').prop("checked",true);
    });

    $('#country').on('change', function() {
        $('#state-area').hide();
        if($(this).val() == 'US') $('#state-area').show();
    });

    $('input[name="delete_reason"]').on('change', function() {
        if($(this).val()) $('#delete-account-form button').prop('disabled', false);
    });

    if($('#country').val() == 'US') $('#state').val('<%= user_data.state %>').trigger('change');$('#country').trigger('change');

    $('.selectpicker').selectpicker();
</script>
<% } else { %>
  <script>
    $("#login-a-form").submit(function(e) {
      e.preventDefault();
      $.ajax({
        url: "/login",
        method: "POST",
        data: {
          login_email: $('.login_email').val(),
          login_password: $('.login_password').val(),
          _csrf : $('meta[name="csrf-token"]').attr('content')
        },
        beforeSend: function() {
          $('#login-a-form button').prop('disabled', true);
        },
        dataType: "json",
		  }).done(function( data ) {
        $('#login-a-form button').prop('disabled', false);
        $('#login-a-form .invalid-feedback').remove();
        if ( data ) {
          if(data.status == 'error') {
            $.each( data.message, function( key, value ) {
                $('.' + value.param).after('<div class="invalid-feedback">' + value.msg + '</div>');
            });
            $('.login_password').val('');
            if(data.reset_email) {
                $('#login-a-form').hide(); 
                $('#reset-password-a-form').show();
                $('.reset_email').val($('.login_email').val());
            }
          } else {
            location = '/account';
          }
        }
      });
    });

    $("#reset-password-a-form").submit(function(e) {
      e.preventDefault();
      $.ajax({
			  url: "/reset-password",
			  method: "POST",
			  data: {
          reset_email: $('.reset_email').val(),
          _csrf : $('meta[name="csrf-token"]').attr('content')
        },
        beforeSend: function() {
          $('#reset-password-a-form button').prop('disabled', true);
        },
			  dataType: "json",
		  }).done(function( data ) {
        $('#reset-password-a-form button').prop('disabled', false);
        $('#reset-password-a-form .invalid-feedback').remove();
          if ( data ) {
            if(data.status == 'error') {
                $.each( data.message, function( key, value ) {
                  $('.' + value.param).after('<div class="invalid-feedback">' + value.msg + '</div>');
                });
            } else {
              location = '/success';
            }
          }
      });
    });
  </script>
<% } %>
<script src="./javascripts/account.js"></script>
</body>
</html>