<!DOCTYPE html>
<html lang="en">
<head>
 <%- include partials/head %> 
</head>
<body>
<%- include partials/menu %>
<div class="container">
  <h1 class="my-4">Welcome to the dsfcount page</h1>
  <div class="row">
    <div class="col-sm-12 my-4">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id lacus nec mauris gravida molestie ut at tellus. Fusce nec commodo ex, id ultrices est. Nunc non hendrerit libero. Proin bibendum eleifend est, id lacinia diam sagittis ac. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla placerat ullamcorper lorem in fringilla. Nulla et felis gravida, ultricies quam maximus, sodales nulla. Proin pulvinar eu mauris eget efficitur. Phasellus auctor eu ex in blandit. Vestibulum quam elit, sollicitudin a luctus scelerisque, molestie eu tellus. Cras aliquet, orci non rhoncus consequat, arcu magna egestas metus, ut pellentesque enim nisl nec sapien. Phasellus vulputate ante at sem congue ornare. In eget euismod mauris. Nunc vehicula leo sit amet purus rutrum, gravida venenatis felis ornare. Aliquam a volutpat augue.</p>
      <div class="col text-center">
        <% if (user) { %>
          <a href="/account" class="my-4 btn btn-success btn-lg" role="button">Your Account</a>
        <% } else { %>
          <a href="/signup" class="my-4 btn btn-success btn-lg" role="button">Sign Up</a>
        <% } %>
      </div>
      <div class="col text-center">
        <h3 class="my-3">Registered User</h3>
        <div id="counter_main_container">
          <div id="counter_div_id">
          </div>
        </div>
      </div>
      <h3 class="my-4">World Map</h3>
      <div id="chartworld" class="chart-area mb-5"></div>
      <h3 class="my-4">Top 10 country</h3>
      <div id="chartdiv" class="chart-area"></div>
    </div>
    <div class="col-sm-6 my-4">
      <h3 class="my-4 text-center">Gender Group</h3>
      <div id="chartgender" class="chart-area"></div>
    </div>
    <div class="col-sm-6 my-4">
      <h3 class="my-4 text-center">Age Group</h3>
      <div id="chartage" class="chart-area"></div>
    </div>
    <div class="col-sm-12 my-4">
      <p class="font-weight-bold"><%= countusers %> of the total number. <%= countreason %> selected reason 2</p>
    </div>
  </div>
</div>
</body>
<%- include partials/footer %>
<%- include partials/script %>
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/maps.js"></script>
<script src="https://www.amcharts.com/lib/4/geodata/worldLow.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/kelly.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
<script>
var country_names = <%- JSON.stringify(country_names) %>;
$(function() {
  count_html = '';
  var sNumber = '<%= countusers.toString().padStart(8, "0") %>';
  for (var i = 0, len = sNumber.length; i < len; i += 1) {
    count_html += '<span class="num_tiles">'+sNumber.charAt(i)+'</span>';
  }
  $('#counter_div_id').html(count_html);

  var worldcountry = <%- JSON.stringify(worldcountry) %>;
  var country_latlong = <%- JSON.stringify(country_latlong) %>;

  am4core.useTheme(am4themes_animated);

  var chart = am4core.create("chartworld", am4maps.MapChart);

  chart.geodata = am4geodata_worldLow;

  chart.projection = new am4maps.projections.Miller();

  var polygonSeries = chart.series.push(new am4maps.MapPolygonSeries());

  polygonSeries.exclude = ["AQ"];

  var worldcountrydata = [];
  worldcountry.forEach(function(entry) {
    worldcountrydata.push({
      "id" : entry._id,
      "count": ': ' + entry.count,
      "fill": am4core.color("#F05C5C")
    });
  });

  polygonSeries.data = worldcountrydata;

  polygonSeries.useGeodata = true;

  var polygonTemplate = polygonSeries.mapPolygons.template;
  polygonTemplate.tooltipText = "{name}{count}";
  polygonTemplate.fill = chart.colors.getIndex(0).lighten(0.5);
  polygonTemplate.propertyFields.fill = "fill";

  var hs = polygonTemplate.states.create("hover");
  hs.properties.fill = chart.colors.getIndex(0);

  // Add zoom control
  chart.zoomControl = new am4maps.ZoomControl();

  // Add button
  var button = chart.chartContainer.createChild(am4core.Button);
  button.padding(5, 5, 5, 5);
  button.width = 30;
  button.align = "right";
  button.marginRight = 15;
  button.events.on("hit", function() {
    chart.goHome();
  });

  button.icon = new am4core.Sprite();
  button.icon.path = "M16,8 L14,8 L14,16 L10,16 L10,10 L6,10 L6,16 L2,16 L2,8 L0,8 L8,0 L16,8 Z M16,8";
});
</script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script>
  $(function() {
    var toptens = <%- JSON.stringify(toptens.reverse()) %>;
    var barTopten = [];
    toptens.forEach(function(entry) {
      barTopten.push({
        "country": country_names[entry._id],
        "visits": entry.count
      });
    });
    
    am4core.useTheme(am4themes_animated);

    var chart = am4core.create("chartdiv", am4charts.XYChart);
    chart.data = barTopten;

    //var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
    var categoryAxis = chart.yAxes.push(new am4charts.CategoryAxis());
    categoryAxis.dataFields.category = "country";
    categoryAxis.renderer.grid.template.location = 0;
    categoryAxis.renderer.minGridDistance = 30;
    //categoryAxis.renderer.labels.template.rotation = 180;

    //var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
    var valueAxis = chart.xAxes.push(new am4charts.ValueAxis());
    valueAxis.renderer.opposite = true;
    valueAxis.maxPrecision = 0;

    var series = chart.series.push(new am4charts.ColumnSeries());
    //series.dataFields.valueY = "visits";
    series.dataFields.valueX = "visits";
    //series.dataFields.categoryX = "country";
    series.dataFields.categoryY = "country";
    series.name = "Visits";
    //series.columns.template.tooltipText = "{categoryX}: [bold]{valueY}[/]";
    series.columns.template.tooltipText = "{categoryY}: [bold]{valueX}[/]";
    series.columns.template.fillOpacity = .8;

    var columnTemplate = series.columns.template;
    columnTemplate.strokeWidth = 2;
    columnTemplate.strokeOpacity = 1;

    am4core.useTheme(am4themes_kelly);

    // gender group
    var chart = am4core.create("chartgender", am4charts.PieChart);

    var gender_groups = <%- JSON.stringify(gender_groups) %>;
    var pieGenderGroup = [
      { title: 'Male', count: gender_groups[0].male },
      { title: 'Female', count: gender_groups[0].female },
      { title: 'Transgender male', count: gender_groups[0].transmale },
      { title: 'Transgender female', count: gender_groups[0].transfemale },
      { title: 'Other', count: gender_groups[0].other },
      { title: 'Prefer not to say', count: gender_groups[0].none },
    ];

    chart.data = pieGenderGroup;

    chart.innerRadius = 100;
    var label = chart.seriesContainer.createChild(am4core.Label);
    label.text = "Gender";
    label.horizontalCenter = "middle";
    label.verticalCenter = "middle";
    label.fontSize = 30;

    var pieSeries = chart.series.push(new am4charts.PieSeries());
    pieSeries.dataFields.value = "count";
    pieSeries.dataFields.category = "title";
    pieSeries.slices.template.tooltipText = "{title}: {count}";
    pieSeries.labels.template.disabled = true;
    pieSeries.ticks.template.disabled = true;
    pieSeries.slices.template.fillOpacity = 1;
    var hs = pieSeries.slices.template.states.getKey("hover");
    hs.properties.scale = 1;
    hs.properties.fillOpacity = 0.5;
    var as = pieSeries.slices.template.states.getKey("active");
    as.properties.shiftRadius = 0;

    // age group
    var chart = am4core.create("chartage", am4charts.PieChart);

    var age_groups = <%- JSON.stringify(age_groups) %>;
    var pieAgeGroup = [];
    age_groups.forEach(function(entry) {
      pieAgeGroup.push({
        "title": entry._id,
        "count": entry.count
      });
    });

    chart.data = pieAgeGroup;

    chart.innerRadius = 100;
    var label = chart.seriesContainer.createChild(am4core.Label);
    label.text = "Age Group";
    label.horizontalCenter = "middle";
    label.verticalCenter = "middle";
    label.fontSize = 30;

    var pieSeries = chart.series.push(new am4charts.PieSeries());
    pieSeries.dataFields.value = "count";
    pieSeries.dataFields.category = "title";
    pieSeries.slices.template.tooltipText = "{title}: {count}";
    pieSeries.labels.template.disabled = true;
    pieSeries.ticks.template.disabled = true;
    pieSeries.slices.template.fillOpacity = 1;
    var hs = pieSeries.slices.template.states.getKey("hover");
    hs.properties.scale = 1;
    hs.properties.fillOpacity = 0.5;
    var as = pieSeries.slices.template.states.getKey("active");
    as.properties.shiftRadius = 0;
  });
</script>
<script>
  $(function () {
    var socket = io();
    socket.on('krunal_dsfcount', function(msg){
      if (msg == 'delete' || msg == 'create') {
        $.ajax({
          url: "/user-count",
          method: "GET",
          dataType: "json",
        }).done(function( data ) {
          if ( data ) {
              if(data.status == 'success') {
                count_html = '';
                var sNumber = data.users.toString();
                for (var i = 0, len = sNumber.length; i < len; i += 1) {
                  count_html += '<span class="num_tiles">'+sNumber.charAt(i)+'</span>';
                }
                $('#counter_div_id').html(count_html);
              }
          }
        });
      }
    });
  });
</script>
</html>