<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/1999/REC-html401-19991224/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>dsfcount</title>
</head>
<body style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000;">
    <div style="width: 680px;">
        <p style="margin-top: 0px; margin-bottom: 20px;">
            Hello, you have a new password for dsfcount.
        </p>
        <p style="margin-top: 0px; margin-bottom: 20px; font-size: 20px;">
            Password: <span style="color: red;"><%= password %></span>
        </p>
        <p style="margin-top: 0px; margin-bottom: 20px;">Thanks dsfcount</p>
    </div>
</body>
</html>