<!DOCTYPE html>
<html lang="en">
<head>
 <%- include partials/head %>
 <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
<%- include partials/menu %>
<div class="container">
  <h1 class="mt-4 mb-3"><%= page %></h1>
  <hr>
  <div class="row">
      <div class="col-lg-8 mb-4">
          <form method="POST" id="signup-form">
              <div class="form-group required">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" required placeholder="Enter Name">
              </div>
              <div class="form-group required">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email" required>
              </div>
              <div class="form-group required">
                <label for="gender">Gender</label>
                <select class="form-control" id="gender" required>
                  <option value="">Select Gender</option>
                  <option value="m">Male</option>
                  <option value="f">Female</option>
                  <option value="tm">Transgender male</option>
                  <option value="tf">Transgender female</option>
                  <option value="ot">Other</option>
                  <option value="na">Prefer not to say</option>
                </select>
              </div>
              <div class="form-row">
                <div class="form-group col-md-4 required">
                  <label for="dob_years">Date of Birth</label>
                  <select id="dob_years" class="form-control selectpicker" data-live-search="true" required></select>
                  <small class="form-text">
                    <a href="javascript:void(0);" class="text-danger font-weight-bolder" data-toggle="modal" data-target="#under13Modal"> Under 13?</a>
                  </small>
                </div>
                <div class="form-group col-md-4">
                  <label for="dob_months">&nbsp;</label>
                  <select id="dob_months" class="form-control" required></select>
                </div>
                <div class="form-group col-md-4">
                  <label for="dob_days">&nbsp;</label>
                  <select id="dob_days" class="form-control" required></select>
                </div>
              </div>
              <div class="form-group required">
                <label for="country">Country</label>
                <select class="form-control selectpicker" id="country" data-live-search="true" required>
                  <option value="">Select Country</option>
                  <option value="GB">United Kingdom</option>
                  <option value="US">United States of America</option>
                  <option value="CA">Canada</option>
                  <option value="AU">Australia</option>
                  <option value="AF">Afghanistan</option>
                  <option value="AX">Åland Islands</option>
                  <option value="AL">Albania</option>
                  <option value="DZ">Algeria</option>
                  <option value="AS">American Samoa</option>
                  <option value="AD">Andorra</option>
                  <option value="AO">Angola</option>
                  <option value="AI">Anguilla</option>
                  <option value="AG">Antigua and Barbuda</option>
                  <option value="AR">Argentina</option>
                  <option value="AM">Armenia</option>
                  <option value="AW">Aruba</option>
                  <option value="AT">Austria</option>
                  <option value="AZ">Azerbaijan</option>
                  <option value="BS">Bahamas</option>
                  <option value="BH">Bahrain</option>
                  <option value="BD">Bangladesh</option>
                  <option value="BB">Barbados</option>
                  <option value="BY">Belarus</option>
                  <option value="BE">Belgium</option>
                  <option value="BZ">Belize</option>
                  <option value="BJ">Benin</option>
                  <option value="BM">Bermuda</option>
                  <option value="BT">Bhutan</option>
                  <option value="BO">Bolivia</option>
                  <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
                  <option value="BA">Bosnia and Herzegovina</option>
                  <option value="BW">Botswana</option>
                  <option value="BV">Bouvet Island</option>
                  <option value="BR">Brazil</option>
                  <option value="IO">British Indian Ocean Territory</option>
                  <option value="BN">Brunei Darussalam</option>
                  <option value="BG">Bulgaria</option>
                  <option value="BF">Burkina Faso</option>
                  <option value="BI">Burundi</option>
                  <option value="CV">Cabo Verde</option>
                  <option value="KH">Cambodia</option>
                  <option value="CM">Cameroon</option>
                  <option value="KY">Cayman Islands</option>
                  <option value="CF">Central African Republic</option>
                  <option value="TD">Chad</option>
                  <option value="CL">Chile</option>
                  <option value="CN">China</option>
                  <option value="CX">Christmas Island</option>
                  <option value="CC">Cocos (Keeling) Islands</option>
                  <option value="CO">Colombia</option>
                  <option value="KM">Comoros</option>
                  <option value="CG">Congo</option>
                  <option value="CD">Congo, Democratic Republic of the</option>
                  <option value="CK">Cook Islands</option>
                  <option value="CR">Costa Rica</option>
                  <option value="CI">Côte d'Ivoire</option>
                  <option value="HR">Croatia</option>
                  <option value="CU">Cuba</option>
                  <option value="CW">Curaçao</option>
                  <option value="CY">Cyprus</option>
                  <option value="CZ">Czechia</option>
                  <option value="DK">Denmark</option>
                  <option value="DJ">Djibouti</option>
                  <option value="DM">Dominica</option>
                  <option value="DO">Dominican Republic</option>
                  <option value="EC">Ecuador</option>
                  <option value="EG">Egypt</option>
                  <option value="SV">El Salvador</option>
                  <option value="GQ">Equatorial Guinea</option>
                  <option value="ER">Eritrea</option>
                  <option value="EE">Estonia</option>
                  <option value="SZ">Eswatini</option>
                  <option value="ET">Ethiopia</option>
                  <option value="FK">Falkland Islands (Malvinas)</option>
                  <option value="FO">Faroe Islands</option>
                  <option value="FJ">Fiji</option>
                  <option value="FI">Finland</option>
                  <option value="FR">France</option>
                  <option value="GF">French Guiana</option>
                  <option value="PF">French Polynesia</option>
                  <option value="TF">French Southern Territories</option>
                  <option value="GA">Gabon</option>
                  <option value="GM">Gambia</option>
                  <option value="GE">Georgia</option>
                  <option value="DE">Germany</option>
                  <option value="GH">Ghana</option>
                  <option value="GI">Gibraltar</option>
                  <option value="GR">Greece</option>
                  <option value="GL">Greenland</option>
                  <option value="GD">Grenada</option>
                  <option value="GP">Guadeloupe</option>
                  <option value="GU">Guam</option>
                  <option value="GT">Guatemala</option>
                  <option value="GG">Guernsey</option>
                  <option value="GN">Guinea</option>
                  <option value="GW">Guinea-Bissau</option>
                  <option value="GY">Guyana</option>
                  <option value="HT">Haiti</option>
                  <option value="HM">Heard Island and McDonald Islands</option>
                  <option value="VA">Holy See</option>
                  <option value="HN">Honduras</option>
                  <option value="HK">Hong Kong</option>
                  <option value="HU">Hungary</option>
                  <option value="IS">Iceland</option>
                  <option value="IN">India</option>
                  <option value="ID">Indonesia</option>
                  <option value="IR">Iran (Islamic Republic of)</option>
                  <option value="IQ">Iraq</option>
                  <option value="IE">Ireland</option>
                  <option value="IM">Isle of Man</option>
                  <option value="IL">Israel</option>
                  <option value="IT">Italy</option>
                  <option value="JM">Jamaica</option>
                  <option value="JP">Japan</option>
                  <option value="JE">Jersey</option>
                  <option value="JO">Jordan</option>
                  <option value="KZ">Kazakhstan</option>
                  <option value="KE">Kenya</option>
                  <option value="KI">Kiribati</option>
                  <option value="KP">Korea (Democratic People's Republic of)</option>
                  <option value="KR">Korea, Republic of</option>
                  <option value="KW">Kuwait</option>
                  <option value="KG">Kyrgyzstan</option>
                  <option value="LA">Lao People's Democratic Republic</option>
                  <option value="LV">Latvia</option>
                  <option value="LB">Lebanon</option>
                  <option value="LS">Lesotho</option>
                  <option value="LR">Liberia</option>
                  <option value="LY">Libya</option>
                  <option value="LI">Liechtenstein</option>
                  <option value="LT">Lithuania</option>
                  <option value="LU">Luxembourg</option>
                  <option value="MO">Macao</option>
                  <option value="MK">Macedonia, the former Yugoslav Republic of</option>
                  <option value="MG">Madagascar</option>
                  <option value="MW">Malawi</option>
                  <option value="MY">Malaysia</option>
                  <option value="MV">Maldives</option>
                  <option value="ML">Mali</option>
                  <option value="MT">Malta</option>
                  <option value="MH">Marshall Islands</option>
                  <option value="MQ">Martinique</option>
                  <option value="MR">Mauritania</option>
                  <option value="MU">Mauritius</option>
                  <option value="YT">Mayotte</option>
                  <option value="MX">Mexico</option>
                  <option value="FM">Micronesia (Federated States of)</option>
                  <option value="MD">Moldova, Republic of</option>
                  <option value="MC">Monaco</option>
                  <option value="MN">Mongolia</option>
                  <option value="ME">Montenegro</option>
                  <option value="MS">Montserrat</option>
                  <option value="MA">Morocco</option>
                  <option value="MZ">Mozambique</option>
                  <option value="MM">Myanmar</option>
                  <option value="NA">Namibia</option>
                  <option value="NR">Nauru</option>
                  <option value="NP">Nepal</option>
                  <option value="NL">Netherlands</option>
                  <option value="NC">New Caledonia</option>
                  <option value="NZ">New Zealand</option>
                  <option value="NI">Nicaragua</option>
                  <option value="NE">Niger</option>
                  <option value="NG">Nigeria</option>
                  <option value="NU">Niue</option>
                  <option value="NF">Norfolk Island</option>
                  <option value="MP">Northern Mariana Islands</option>
                  <option value="NO">Norway</option>
                  <option value="OM">Oman</option>
                  <option value="PK">Pakistan</option>
                  <option value="PW">Palau</option>
                  <option value="PS">Palestine, State of</option>
                  <option value="PA">Panama</option>
                  <option value="PG">Papua New Guinea</option>
                  <option value="PY">Paraguay</option>
                  <option value="PE">Peru</option>
                  <option value="PH">Philippines</option>
                  <option value="PN">Pitcairn</option>
                  <option value="PL">Poland</option>
                  <option value="PT">Portugal</option>
                  <option value="PR">Puerto Rico</option>
                  <option value="QA">Qatar</option>
                  <option value="RE">Réunion</option>
                  <option value="RO">Romania</option>
                  <option value="RU">Russian Federation</option>
                  <option value="RW">Rwanda</option>
                  <option value="BL">Saint Barthélemy</option>
                  <option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
                  <option value="KN">Saint Kitts and Nevis</option>
                  <option value="LC">Saint Lucia</option>
                  <option value="MF">Saint Martin (French part)</option>
                  <option value="PM">Saint Pierre and Miquelon</option>
                  <option value="VC">Saint Vincent and the Grenadines</option>
                  <option value="WS">Samoa</option>
                  <option value="SM">San Marino</option>
                  <option value="ST">Sao Tome and Principe</option>
                  <option value="SA">Saudi Arabia</option>
                  <option value="SN">Senegal</option>
                  <option value="RS">Serbia</option>
                  <option value="SC">Seychelles</option>
                  <option value="SL">Sierra Leone</option>
                  <option value="SG">Singapore</option>
                  <option value="SX">Sint Maarten (Dutch part)</option>
                  <option value="SK">Slovakia</option>
                  <option value="SI">Slovenia</option>
                  <option value="SB">Solomon Islands</option>
                  <option value="SO">Somalia</option>
                  <option value="ZA">South Africa</option>
                  <option value="GS">South Georgia and the South Sandwich Islands</option>
                  <option value="SS">South Sudan</option>
                  <option value="ES">Spain</option>
                  <option value="LK">Sri Lanka</option>
                  <option value="SD">Sudan</option>
                  <option value="SR">Suriname</option>
                  <option value="SJ">Svalbard and Jan Mayen</option>
                  <option value="SE">Sweden</option>
                  <option value="CH">Switzerland</option>
                  <option value="SY">Syrian Arab Republic</option>
                  <option value="TW">Taiwan, Province of China[a]</option>
                  <option value="TJ">Tajikistan</option>
                  <option value="TZ">Tanzania, United Republic of</option>
                  <option value="TH">Thailand</option>
                  <option value="TL">Timor-Leste</option>
                  <option value="TG">Togo</option>
                  <option value="TK">Tokelau</option>
                  <option value="TO">Tonga</option>
                  <option value="TT">Trinidad and Tobago</option>
                  <option value="TN">Tunisia</option>
                  <option value="TR">Turkey</option>
                  <option value="TM">Turkmenistan</option>
                  <option value="TC">Turks and Caicos Islands</option>
                  <option value="TV">Tuvalu</option>
                  <option value="UG">Uganda</option>
                  <option value="UA">Ukraine</option>
                  <option value="AE">United Arab Emirates</option>
                  <option value="UM">United States Minor Outlying Islands</option>
                  <option value="UY">Uruguay</option>
                  <option value="UZ">Uzbekistan</option>
                  <option value="VU">Vanuatu</option>
                  <option value="VE">Venezuela (Bolivarian Republic of)</option>
                  <option value="VN">Viet Nam</option>
                  <option value="VG">Virgin Islands (British)</option>
                  <option value="VI">Virgin Islands (U.S.)</option>
                  <option value="WF">Wallis and Futuna</option>
                  <option value="EH">Western Sahara</option>
                  <option value="YE">Yemen</option>
                  <option value="ZM">Zambia</option>
                  <option value="ZW">Zimbabwe</option>
                </select>
              </div>
              <div class="form-group" id="state-area" style="display: none;">
                <label for="state">State</label>
                <select class="form-control selectpicker" id="state" data-live-search="true">
                      <option value="">Select State</option>
                      <option value="AL">Alabama</option>
                      <option value="AK">Alaska</option>
                      <option value="AZ">Arizona</option>
                      <option value="AR">Arkansas</option>
                      <option value="CA">California</option>
                      <option value="CO">Colorado</option>
                      <option value="CT">Connecticut</option>
                      <option value="DE">Delaware</option>
                      <option value="FL">Florida</option>
                      <option value="GA">Georgia</option>
                      <option value="HI">Hawaii</option>
                      <option value="ID">Idaho</option>
                      <option value="IL">Illinois</option>
                      <option value="IN">Indiana</option>
                      <option value="IA">Iowa</option>
                      <option value="KS">Kansas</option>
                      <option value="KY">Kentucky</option>
                      <option value="LA">Louisiana</option>
                      <option value="ME">Maine</option>
                      <option value="MD">Maryland</option>
                      <option value="MA">Massachusetts</option>
                      <option value="MI">Michigan</option>
                      <option value="MN">Minnesota</option>
                      <option value="MS">Mississippi</option>
                      <option value="MO">Missouri</option>
                      <option value="MT">Montana</option>
                      <option value="NE">Nebraska</option>
                      <option value="NV">Nevada</option>
                      <option value="NH">New Hampshire</option>
                      <option value="NJ">New Jersey</option>
                      <option value="NM">New Mexico</option>
                      <option value="NY">New York</option>
                      <option value="NC">North Carolina</option>
                      <option value="ND">North Dakota</option>
                      <option value="OH">Ohio</option>
                      <option value="OK">Oklahoma</option>
                      <option value="OR">Oregon</option>
                      <option value="PA">Pennsylvania</option>
                      <option value="RI">Rhode Island</option>
                      <option value="SC">South Carolina</option>
                      <option value="SD">South Dakota</option>
                      <option value="TN">Tennessee</option>
                      <option value="TX">Texas</option>
                      <option value="UT">Utah</option>
                      <option value="VT">Vermont</option>
                      <option value="VA">Virginia</option>
                      <option value="WA">Washington</option>
                      <option value="WV">West Virginia</option>
                      <option value="WI">Wisconsin</option>
                      <option value="WY">Wyoming</option>
                </select>
              </div>
              <div class="form-group">
                <label for="city">City</label>
                <input type="text" class="form-control" id="city" placeholder="Enter City">
              </div>
              <div class="form-group required">
                <label for="reason1">Why did you start?</label>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="reason" id="reason1" value="reason1" required>
                  <label class="form-check-label" for="reason1">
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="reason" id="reason" value="reason2">
                  <label class="form-check-label" for="reason">
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                  </label>
                </div>
              </div>
              <div class="form-group required">
                <label for="counted_bcz1" id="counted_bcz">You have been counted because of</label>
                <div class="form-check">
                  <input class="form-check-input counted_bcz" type="checkbox" id="counted_bcz1" value="a">
                  <label class="form-check-label" for="counted_bcz1">
                    value1
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input counted_bcz" type="checkbox" id="counted_bcz2" value="e">
                  <label class="form-check-label" for="counted_bcz2">
                    value2
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input counted_bcz" type="checkbox" id="counted_bcz3" value="h">
                  <label class="form-check-label" for="counted_bcz3">
                    value3
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input counted_bcz" type="checkbox" id="counted_bcz4" value="o">
                  <label class="form-check-label" for="counted_bcz4">
                    Other
                  </label>
                </div>
              </div>
              <div class="form-group required" id="o-c-b-area" style="display: none;">
                <label for="o_counted_bcz">Reason</label>
                <input type="text" class="form-control" id="o_counted_bcz" placeholder="Enter Reason">
              </div>
              <label for="start_year">When did you start?</label>
              <div class="form-row">
                <div class="form-group col-md-4 required">
                  <select id="start_year" class="form-control select2" required></select>
                </div>
                <div class="form-group col-md-4">
                  <select id="start_month" class="form-control"></select>
                </div>
                <div class="form-group col-md-4">
                  <select id="start_day" class="form-control"></select>
                </div>
              </div>
              <div class="form-group">
                <label id="hear_about_us">Where did you hear about us?</label>
                <div class="form-check">
                  <input class="form-check-input hear_about_us" type="checkbox" id="hear_about_us1" value="fb">
                  <label class="form-check-label" for="hear_about_us1">Facebook</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input hear_about_us" type="checkbox" id="hear_about_us2" value="in">
                  <label class="form-check-label" for="hear_about_us2">Instagram</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input hear_about_us" type="checkbox" id="hear_about_us3" value="tw">
                  <label class="form-check-label" for="hear_about_us3">Twitter</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input hear_about_us" type="checkbox" id="hear_about_us4" value="ev">
                  <label class="form-check-label" for="hear_about_us4">Event/festival</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input hear_about_us" type="checkbox" id="hear_about_us5" value="wm">
                  <label class="form-check-label" for="hear_about_us5">Word of mouth</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input hear_about_us" type="checkbox" id="hear_about_us6" value="bc">
                  <label class="form-check-label" for="hear_about_us6">Flyer / business card</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input hear_about_us" type="checkbox" id="hear_about_us7" value="se">
                  <label class="form-check-label" for="hear_about_us7">Search engine</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input hear_about_us" type="checkbox" id="hear_about_us8" value="ot">
                  <label class="form-check-label" for="hear_about_us8">Other</label>
                </div>
              </div>

              <hr>
              <div class="form-row">
                  <div class="form-group col-md-8">
                      <p>Your details are safe with us, and we promise we won’t share them with third parties. You can opt out of receiving communications from us at any time by emailing info@dsfcount.com or use the unsubscribe link found at the bottom of every dsfcount email. For more information about how we use your details, check out our <a href="/privacy">privacy policy</a>.</p>
                  </div>
                  <div class="form-group col-md-4">
                      <div class="g-recaptcha" id="g-recaptcha" data-sitekey="6LejCIsUAAAAAMW07HQJZqE2HZEVsc2-DKvig7V-"></div>
                  </div>
              </div>
              <button type="submit" class="btn btn-success" id="submit-btn">Count me in!</button>
            </form>
      </div>
  </div>
</div>

<div class="modal fade" id="under13Modal" tabindex="-1" role="dialog" aria-labelledby="under13ModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Under 13?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Uh-oh! Unfortunately we're not allowed to send emails to kids under 13 years old (we could get in trouble if we did.). But please do come back when you're a little older!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<%- include partials/footer %>
<%- include partials/script %>
<script>
  $(function() {
    $('.counted_bcz').on('change', function() {
      flag = false;
      $('.counted_bcz:checked').each(function() {
        if($(this).val() == 'o') flag = true;
      });
      $('#o-c-b-area').hide();
      if(flag) { 
        //$('.counted_bcz').prop("checked", false);
        $('#o-c-b-area').show();
        $('.counted_bcz[value="o"]').prop("checked", true);
      }
    });
  });
</script>
<script src="./javascripts/signup.js"></script>
</body>
</html>