<!DOCTYPE html>
<html lang="en">
<head>
 <%- include partials/head %> 
</head>
<body>
<%- include partials/menu %>
<div class="container height-fill">
  <h1 class="mt-4 mb-3"><%= page %></h1>
  <hr>
  <div class="row">
      <div class="col-lg-12">
        <div class="jumbotron text-center">
          <h1 class="display-3">Thank You!</h1>
          <p class="lead"><strong>Please check your email</strong> for further instructions.</p>
          <hr>
          <p class="lead">
            <a class="btn btn-primary btn-sm" href="/" role="button">Continue to homepage</a>
          </p>
          <a href="#" class="social-icn d-inline-block"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social-icn d-inline-block"><i class="fab fa-twitter"></i></a>
          <a href="#" class="social-icn d-inline-block"><i class="fab fa-instagram"></i></a>
          <p class="lead what_to_copy">dsfcount.pw/signup <a href="javascript:void(0);" class="text-indigo d-inline-block" data-toggle="tooltip" data-placement="right" title="copy" id="copy-btn"><i class="far fa-copy"></i></a></p>
        </div>
      </div>
  </div>
</div>
<%- include partials/footer %>
<%- include partials/script %>
<script>
  $(function() {
    $('[data-toggle="tooltip"]').tooltip();
    
    $('#copy-btn').on('click', function(e){
      var e=document.querySelector(".what_to_copy");
      window.getSelection().removeAllRanges();
      var t = document.createRange();
      t.selectNode(e);
      window.getSelection().addRange(t);
      document.execCommand("copy");
    });
  });
</script>
</body>
</html>