<!DOCTYPE html>
<html lang="en">
<head>
 <%- include partials/head %> 
</head>
<body>
<%- include partials/menu %>
<div class="container height-fill">
  <h1 class="mt-4 mb-3"><%= page %></h1>
  <hr>
  <div class="row">
      <div class="col-lg-8 mb-4">
        <% if (messages != '') { %>
          <div class="alert alert-success" role="alert">
            <%= messages %>
          </div>
        <% } %>
        <form class="form" id="unsubscribe-form" role="form" method="POST">
            <div class="form-group">
              <label for="email">Email</label>
              <input placeholder="Email" id="email" class="form-control" type="email" required>
            </div>
            <div class="form-group">
              <div class="form-check my-1">
                <input class="form-check-input subscribed" type="checkbox" id="subscribed1" checked value="st" data-size="sm" data-onstyle="danger">
                <label class="form-check-label" for="subscribed1">Stats</label>
              </div>
              <div class="form-check my-1">
                <input class="form-check-input subscribed" type="checkbox" id="subscribed2" checked value="nw" data-size="sm" data-onstyle="danger">
                <label class="form-check-label" for="subscribed2">Newsletters</label>
              </div>
              <div class="form-check my-1">
                <input class="form-check-input subscribed" type="checkbox" id="subscribed3" checked value="bl" data-size="sm" data-onstyle="danger">
                <label class="form-check-label" for="subscribed3">Blog</label>
              </div>
              <div class="form-check my-1">
                <input class="form-check-input subscribed" type="checkbox" checked id="subscribed4" value="pm" data-size="sm" data-onstyle="danger">
                <label class="form-check-label" for="subscribed4">Promotions</label>
              </div>
              <div class="form-check my-1">
                <input class="form-check-input subscribed" type="checkbox" checked id="subscribed6" value="pc" data-size="sm" data-onstyle="danger">
                <label class="form-check-label" for="subscribed6">Petitions/Campaigns</label>
              </div>
              <div class="form-check my-1">
                <input class="form-check-input" type="checkbox" id="subscribed5" value="account" data-size="sm" data-onstyle="danger" disabled>
                <label class="form-check-label" for="subscribed5">Account</label>
                <br><small>We need to be able to send you essential emails about your account.</small>
              </div>
            </div>
            <p>You want to delete your account then you need to login.</p>
            <hr>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Update</button>
            </div>
        </form>
      </div>
  </div>
</div>
<%- include partials/footer %>
<%- include partials/script %>
<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/css/bootstrap4-toggle.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/js/bootstrap4-toggle.min.js"></script>
<script>
  $(function() {
    $('.subscribed, #subscribed5').bootstrapToggle({
      on: 'Unsubscribe',
      off: 'Subscribe'
    });
    $("#unsubscribe-form").submit(function(e) {
      e.preventDefault();
      $('#unsubscribe-form .invalid-feedback').remove();
      if($('.subscribed:checked').length == 0) {
        $('#email').after('<div class="invalid-feedback">Please select at least on checkbox</div>');
        return;
      }

      var subscribed = [];
      $('.subscribed:not(:checked)').each(function() {
        subscribed.push($(this).val());
      });

      $.ajax({
        url: "/unsubscribe",
        method: "POST",
        data: {
          email: $('#email').val(),
          subscribed: subscribed.join(','),
          _csrf : $('meta[name="csrf-token"]').attr('content')
        },
        beforeSend: function() {
          $('#unsubscribe-form button').prop('disabled', true);
        },
        dataType: "json",
		  }).done(function( data ) {
        $('#unsubscribe-form button').prop('disabled', false);
        $('#unsubscribe-form .invalid-feedback').remove();
        if ( data ) {
          if(data.status == 'error') {
            $.each( data.message, function( key, value ) {
                $('#email').after('<div class="invalid-feedback">' + value.msg + '</div>');
            });
          } else {
            location = '/unsubscribe';
          }
        }
      });
    });
  });
</script>
</body>
</html>