.navbar .dropdown-menu .form-control {
  width: 23rem;
}
.height-fill{
  min-height: 100vh;
}
.form-group.required label:first-child:after {
  content:"*";
  color:red;
}
.invalid-feedback{
  display: block;
}
#counter_main_container {
   height: 46px;
   width: auto;
   margin: 0 auto;
   max-width: 300px;
   background-color: #000000;
   align-content: center;
 }
.num_tiles {
  width:30px;
  height: 30px;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  padding: 3px;
  margin: 7px;
  font-family: verdana;
}
.chart-area {
  width: 100%;
  height: 500px;
  overflow: hidden;
}
.map-marker {
  /* adjusting for the marker dimensions
  so that it is centered on coordinates */
  margin-left: -8px;
  margin-top: -8px;
}
.map-marker.map-clickable {
  cursor: pointer;
}
.pulse {
  width: 10px;
  height: 10px;
  border: 5px solid #f7f14c;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: #716f42;
  z-index: 10;
  position: absolute;
}
.map-marker .dot {
  border: 10px solid #fff601;
  background: transparent;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  height: 50px;
  width: 50px;
  -webkit-animation: pulse 3s ease-out;
  -moz-animation: pulse 3s ease-out;
  animation: pulse 3s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  position: absolute;
  top: -20px;
  left: -20px;
  z-index: 1;
  opacity: 0;
}
.bootstrap-select .btn.disabled {
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  opacity: 1;
}
.bootstrap-select .btn{
  background-color: #ffffff;
  color: #495057 !important;
  border: 1px solid #ced4da;
}
.bootstrap-select .btn:disabled{
  background-color:#e9ecef;
  color: #495057 !important;
  border: 1px solid #ced4da;
}
.social-icn{
  height: 30px;
  width: 30px;
  background: #343A40;
  color: #ffffff;
  line-height: 30px;
}
.social-icn:hover{
  color: #ffffff;
}
@-moz-keyframes pulse {
 0% {
    -moz-transform: scale(0);
    opacity: 0.0;
 }
 25% {
    -moz-transform: scale(0);
    opacity: 0.1;
 }
 50% {
    -moz-transform: scale(0.1);
    opacity: 0.3;
 }
 75% {
    -moz-transform: scale(0.5);
    opacity: 0.5;
 }
 100% {
    -moz-transform: scale(1);
    opacity: 0.0;
 }
}
@-webkit-keyframes "pulse" {
 0% {
    -webkit-transform: scale(0);
    opacity: 0.0;
 }
 25% {
    -webkit-transform: scale(0);
    opacity: 0.1;
 }
 50% {
    -webkit-transform: scale(0.1);
    opacity: 0.3;
 }
 75% {
    -webkit-transform: scale(0.5);
    opacity: 0.5;
 }
 100% {
    -webkit-transform: scale(1);
    opacity: 0.0;
 }
}
@media (max-width: 767px) {
  .navbar .dropdown-menu .form-control {
    width: 15rem;
  }
}